/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.

 *= require_tree .
  *= require_self
*/

body{
    background-color: #707070;
    font-family: "Lucida Grande","Lucida Sans Unicode",Verdana, Helvetica, Arial,sans-serif;
    text-align: center;
}
#header,#wrapper{

}

/*Header*/
.top-header-highlight{
    height:7px;
    /*background-color: #cecece;*/
    background-color: #d0e0f1;
    /*background-color: #e0ebf6;*/
}
#top-header-logo{
    font-size: 46px;
}
.top-header-links{

    background-color: #d0e0f1;
    /*background-color: #e0ebf6;*/
    /*color:#1b1b1b;*/
   /*background-color: #222;*/
    color:#3c3c3c;
    border-radius:0 0 7px 7px;
    -moz-border-radius:0 0 7px 7px;

}
#top-header-links{
    padding:0 10px;
    text-align: center;
}
#top-header-links a{margin:0 5px;color:#3c3c3c; }
.main-menu-bar{
    /*background-color: #134084;*/
    /*background: -webkit-gradient(linear, left bottom, left top, color-stop(50%,#000), color-stop(100%,#a1a1a1));  for webkit*/

    background-color: #3e4040;
    /*background-color: #;*/
    height:45px;
    color: #7fffd4;
    overflow: hidden;
}
.menu-bar{
    margin: 15px 5px 0 5px;
    float: right;

}
.menu-bar ul,.menu-bar li{
    display: inline;
    margin:0 5px;
}

.menu-bar a{
    text-decoration: none;
    padding: 8px 17px 11px;
    color: #ececec;
    /*background-color: #2f7fe0;*/
    /*background-color: #22c3eb;*/
    /*background-color: #154285;*/
    /*background-color: #5072b1;*/
    background-color: #7ab;
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 5%, #4096ee 84%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#7abcff), color-stop(84%,#4096ee)); /* Chrome,Safari4+ */
    /*background: -webkit-linear-gradient(top, #7abcff 5%,#4096ee 84%); *//* Chrome10+,Safari5.1+ */
    /*background: -o-linear-gradient(top, #7abcff 5%,#4096ee 84%); *//* Opera11.10+ */
    /*background: -ms-linear-gradient(top, #7abcff 5%,#4096ee 84%); *//* IE10+ */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); *//* IE6-9 */
    /*background: linear-gradient(top, #7abcff 5%,#4096ee 84%); *//* W3C */
    -moz-border-radius:12px 12px 0 0;
    border-radius: 12px 12px 0  0;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;

    /*-webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.75), 0px 2px 2px rgba(0, 0, 0, 0.25);*/


}

.menu-bar a:hover,ul.home a.home,ul.account a.account
{

    /*background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#dedede), color-stop(.25,#FEFEFE));*/
    background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#dedede), color-stop(.01,#FEFEFE));
    /*background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#7abcff), to(#cecece), color-stop(.20,#FEFEFE));*/
   /*background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#7ABCFF), to(#FAFAFA), color-stop(.15,#FEFEFE));*/
   background:-moz-linear-gradient(top, #fefefe 0%, #fefefe 25%,#dedede 100%);
   /*background:-moz-linear-gradient(0% 0% 90deg,#7ABCFF, #FAFAFA, #FEFEFE 9%);*/

  color:black;

}
.highlight-menu{

    height:7px;
    background-color: #dedede;
    /*margin-top:20px;*/
    
}


/*Form Css*/
div#content form.data-form p, div#content form.data-form div { margin:0; padding: 10px 0 0 0;}

div#content form.data-form input[type=text],
div#content form.data-form textarea,
div#content form.data-form input[type=password]
{
  padding: 3px;
  font-size: 1.05em;
  color: #444;
}
div#content form.data-form input[type=text],div#content form.data-form input[type=email],div#content form.data-form input[type=password],div#content form.data-form input[type=password]{  width: 50%;height:32px; }
div#content form.data-form textarea { width: 58%; height: 100px; }

div#content form.data-form input[type=submit] {
  font-size: 1.2em;
      /*padding: 10px;*/
  /*border-top    : 1px solid #BBB;*/
  /*border-left   : 1px solid #BBB;*/
  /*border-right  : 1px solid #666;*/
  /*border-bottom : 1px solid #666;*/
  /*background-color: #DDD;*/
   	background: #222 url('alert-overlay.png') repeat-x;
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	-moz-border-radius: 15px;
	-webkit-border-radius: 23px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
    background-color:#007d9a;
    
    font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
div#content form.data-form input[type=submit]:hover{
    /*background-color: #0c7088;*/
     /*background-color: #111; color: #fff; */
}
.field{
    margin: 0;
    
}
.login_form{
    background-color: #fff;
    margin: 10px;
    padding:5px 0 10px 25px;
    -webkit-border-radius:10px;
    -webkit-box-shadow:0 1px 15px rgba(0,0,0,2);
    /*-moz-box-shadow:0 1px 15px rgba(0,0,0,2);*/

}
.login_form input[type="label"]{
      text-shadow: #ff0000 10px;
}
.clear{
    clear: both;
}
/*Sticky Footer*/


/*#footer {*/
    /*position: relative;*/
    /*margin-top: -40px; *//* negative value of footer height */
    /*height: 40px;*/
    /*clear: both;*/
/*}*/
{
	margin: 0;
}
html, body {
	height: 100%;
}
.every-thing {
   background-color: #fefefe;
    box-shadow: 6px 0px 15px 3px #222,-6px 0px 15px 3px #222;
    -moz-box-shadow: 6px 0px 15px 3px #222,-6px 0px 15px 3px #222;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px; /* the bottom margin is the negative value of the footer's height */
    background-color: #
}
.footer, .push {
	height: 30px; /* .push must be the same height as .footer */
}

div#footer{

  background-color:#2f4a53;
  color:#7aaaa8;
  padding-left:10px;

}
div#footer p{
  /*margin: 0;*/

}
.footer-row{

  background-color:#ddd;
  /*height:8px;*/
}
div#footer p,div#footer a{
  color:#7aaaa8;
    padding: 10px 5px 5px 10px;
}

